/* tablet */
@media (max-width: 1199px) {
    .container {
        width: 900px;
    }

    .header {
        height: 591px;
    }

    .header-top{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-content {
        width: 900px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-nav-button {
        display: block;
        background: transparent;
        border: none;
    }

    .header-nav-list {
        display: none;
    }

    .header-title {
        font-size: 52px;
    }

    .header-sÑroll {
        font-size: 0;
    }

    /*main*/
    .main {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main-row {
        margin-bottom: 80px;
    }

    .main-content {
        width: 420px;
    }

    .main-header {
        font-size: 54px;
        line-height: 1;
    }

    .main-content-text {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .main-img {
        width: 420px;
    }
    
    /* footer */
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-widget-services {
        display: none;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer .logo {
        font-size: 30px;
    }

    .footer-copyright p {
        font-size: 14px;
    }

    .footer-widget-title {
        margin-bottom: 20px;
    }
}

/* mobile */
@media (max-width: 899px) {
    .container {
        /* width: 600px; */
        width: 100%;
    }

    .header-top {
        width: 100%;
    }

    .header-content {
        width: 100%;
    }

    .header-title {
        font-size: 42px;
    }

    .header-content p {
        font-size: 20px;
    }
    
    /*main*/
    .main {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .main-row:nth-child(even) {
        flex-direction: row-reverse;
    }

    .main-row {
        margin-bottom: 60px;
        flex-direction: row-reverse;
    }

    .main-img {
        flex-shrink: 0;
        width: 170px;
        margin-right: 30px;
    }

    .main-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main-content {
        width: auto;
    } 

    .main-header {
        font-size: 42px;
    }

    .main-content-text {
        font-size: 16px;
    }

    .button {
        height: 46px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
        line-height: 46px;
    }
    
    /* footer */
    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-row {
        flex-wrap: wrap;
    }

    .footer .logo {
        margin-bottom: 20px;
    }

    .footer-copyright {
        width: auto;
        order: 1;
    }

    .footer-widget-wrapper {
        width: 100%;
        margin-bottom: 50px;
    }

    .footer-widget-wrapper > * {
        width: calc(50% - 15px)
    }
}

/* mobile xs */
@media (max-width: 599px) {
    .container {
        width: 320px;
    }

    .header-top, .header-content {
        width: 100%;
    }

    .logo {
        font-size: 30px;
    }

    .header-title {
        margin-bottom: 10px;
        font-size: 32px;
    }

    .header-content p {
        font-size: 18px;
    }

    /*main*/
    .main {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .main .container {
        width: 100%;
    }

    .main-row {
        margin-bottom: 40px;
        flex-direction: column-reverse;
    }

    .main-row:nth-child(even) {
        flex-direction: column-reverse;
    }

    .main-img {
        width: auto;
        height: 150px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .main-header {
        font-size: 34px;
    }
    
    /* footer */
    .footer {
        text-align: center;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-widget-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .footer-widget-services {
        display: block;
    }

    .footer-widget {
        margin-bottom: 40px;
    }

    .footer-widget + .footer-widget {
        margin-left: 0;
    }

    .footer-widget-wrapper > * {
        width: 100%;
    }

    .footer-widget-title {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .footer-widget-list {
        font-size: 16px;
    }

    .footer-widget-list li {
        margin-bottom: 10px;
    }

    .footer-widget p {
        font-size: 16px;
    }   
}